<div class="container-fluid footer-bg-color">
      <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 mb-0 text-center">
          <span class="text-muted fs-6 fw-light main-color text-center"> 2024 © Zuzanna Chmielarska </span>
      </footer>
</div>