<nav class="navbar bg-body-tertiary secondary-color-2-bg mb-3">
    <div class="container-fluid">
    <a class="navbar-brand title abril main-color" href="/dashboard">
        <i class="fa-solid fa-stopwatch-20 mx-2"></i>
        FitCoach
    </a>
    </div>
</nav>
