<div class="container py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-7 mb-6 mb-md-0">
                <h1 class="display-2 mb-4 position-relative">
                    Zacznij swoją <br> podróż do zdrowia!
                </h1>
                <p class="fs-4 mb-4 main-color">
                    Z twoim osobistym asystentem FitCoach.
                </p>
                <a href="/dashboard"><button class="btn btn-outline-secondary me-2" type="submit">Sprawdź teraz</button></a>
            </div>
        </div>
    </main>
</div>